<!DOCTYPE html>
<html lang="en">
<head>
  <title>Australia Child Care</title>
  <meta charset="UTF-8"/>
  <meta httpEquiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,700i" rel="stylesheet">
</head>
<body>
  <div id="root"></div>
</body>
</html>
